<% provide(:title, 'Home') %>
<header class="row">
	<h1><span class="hide">Hubly</span><%= image_tag("hubly.svg") %></h1>
</header>

<section class="row">
	<article>
		Just the way you like it
	</article>
	<article>
		Your world, your hub
	</article>
	<article>
	Everything as you left it on all your devices
	</article>
</section>

<section class="row">
	<p>Hubly is a free to use personal hub where you can safely store and sync your personal settings for many apps across multiple platforms and devices.</p>
	
	<ul>
		<li>Automatically save and load your personal preferences on all your devices</li>
		<li>Share settings with other users or keep your preferences private</li>
		<li>Create a backup of your settings, should one of your devices fail</li>
		<li>Be part of the wider hubly community, feed your preferences back to developers and designers to improve future products</li>
	</ul> 
</section>